.line{
    border: 1px lightgray dotted;
    /* padding: 10px 0px; */
    width: 80%;
    display: block;
    margin: 10px auto;
}
.admin-btn{
    border: 1px solid red;
    border-radius: 30px;
    background-color: rgb(250, 229, 227);
    color: red;
    width: 80px;
    display: block;
    margin: 10px auto;
    size: 12px;

}

