<ul class="list-group">
    <li class="list-group-item text-center border-0">
        <i class="fa fa-th" aria-hidden="true"></i> 
        <br>
        <small>Dashboard</small>
    </li>
    <li class="list-group-item text-center border-0">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <br>
        <small>Assessment</small>
    </li>
    <li class="list-group-item text-center border-0">
        <i class="fa fa-clone" aria-hidden="true"></i>
        <br>
        <small>My Library</small>
    </li>
    <li>
        <div class="line">

        </div>
    </li>
    <li>
        <button type="button" class="admin-btn">Admin</button>

    </li>
    <li class="list-group-item text-center border-0">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <br>
        <small>Round Status</small>
    </li>
  </ul>